In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import yaml

FONT_SIZE = 15

plt.rc('font', size=FONT_SIZE)          # controls default text sizes
plt.rc('axes', titlesize=FONT_SIZE)     # fontsize of the axes title
plt.rc('axes', labelsize=FONT_SIZE)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=FONT_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=FONT_SIZE)    # fontsize of the tick labels
plt.rc('legend', fontsize=FONT_SIZE)    # legend fontsize
plt.rc('figure', titlesize=FONT_SIZE)  # fontsize of the figure title
matplotlib.rc('lines', linewidth=3)

In [4]:
fields = ['type', 'i1', 'i2', 'i3', 'i4', 'i0']

In [5]:
df = pd.read_csv('../intervals_belady_sample.log', delimiter=' ', names=fields, nrows=1000000, skiprows=0)

In [8]:
df[df.type==1]

        type       i1        i2          i3          i4         i0
2144       1    74943  10000000  10000000.0  10000000.0  9999999.0
2177       1    64534  10000000  10000000.0  10000000.0  9999999.0
2210       1    30276  10000000  10000000.0  10000000.0  9205367.0
2243       1     4383  10000000  10000000.0  10000000.0  9999999.0
2276       1   102066  10000000  10000000.0  10000000.0  9999999.0
2309       1   110766  10000000  10000000.0  10000000.0  9999999.0
2342       1   154958  10000000  10000000.0  10000000.0  9999999.0
2375       1    91265  10000000  10000000.0  10000000.0  9999999.0
2408       1   180407  10000000  10000000.0  10000000.0  9999999.0
2441       1    27101  10000000  10000000.0  10000000.0  9999999.0
2474       1   121262  10000000  10000000.0  10000000.0  9999999.0
2507       1   108574  10000000  10000000.0  10000000.0  9999999.0
2540       1   127812  10000000  10000000.0  10000000.0  9999999.0
2573       1    68191  10000000  10000000.0  10000000.0  9999999.0
2606       1    73460  10000000  10000000.0  10000000.0  9999999.0
2639       1   153876  10000000  10000000.0  10000000.0  9999999.0
2672       1    37464  10000000  10000000.0  10000000.0  9999999.0
2705       1   158781  10000000  10000000.0  10000000.0  9999999.0
2738       1   153559  10000000  10000000.0  10000000.0  9999999.0
2771       1    13647  10000000  10000000.0  10000000.0  9999999.0
2804       1    86361  10000000  10000000.0  10000000.0  9999999.0
2837       1    62467  10000000  10000000.0  10000000.0  9999999.0
2870       1   128926  10000000  10000000.0  10000000.0  9999999.0
2903       1   178635  10000000  10000000.0  10000000.0  9999999.0
2936       1   177392  10000000  10000000.0  10000000.0  9999999.0
2969       1   134684  10000000  10000000.0  10000000.0  9999999.0
3002       1    95143  10000000  10000000.0  10000000.0  9999999.0
3035       1   183640  10000000  10000000.0  10000000.0  9999999.0
3068       1   132334  10000000  10000000.0  10000000.0  9999999.0
3101       1   122764  10000000  10000000.0  10000000.0  9999999.0
...      ...      ...       ...         ...         ...        ...
999964     1  1785366  10000000  10000000.0  10000000.0  1865444.0
999965     1  1776107  10000000  10000000.0  10000000.0  9999999.0
999971     1  2216043  10000000  10000000.0  10000000.0  4631811.0
999972     1  2242413  10000000  10000000.0  10000000.0  1774683.0
999973     1  2228572  10000000  10000000.0  10000000.0  9999999.0
999974     1  2261377   2270474  10000000.0  10000000.0   328792.0
999975     1  2213534  10000000  10000000.0  10000000.0  9999999.0
999976     1  2224802  10000000  10000000.0  10000000.0  3193421.0
999977     1  2212732  10000000  10000000.0  10000000.0   714100.0
999978     1  2227847  10000000  10000000.0  10000000.0  9999999.0
999979     1  2217113  10000000  10000000.0  10000000.0  9999999.0
999980     1  2217431  10000000  10000000.0  10000000.0  9999999.0
999981     1   542151    985310   2153049.0  10000000.0   706820.0
999982     1  1433044  10000000  10000000.0  10000000.0  9999999.0
999983     1   908060  10000000  10000000.0  10000000.0  9999999.0
999984     1  2225096  10000000  10000000.0  10000000.0  1583219.0
999985     1  1090360  10000000  10000000.0  10000000.0  9999999.0
999986     1  2212422   2963581  10000000.0  10000000.0  4913371.0
999987     1  2214554  10000000  10000000.0  10000000.0   802100.0
999988     1  2218407  10000000  10000000.0  10000000.0   645104.0
999989     1  1245716   1589906   1694264.0  10000000.0  1406317.0
999990     1  1857071  10000000  10000000.0  10000000.0  3833021.0
999991     1  2231477  10000000  10000000.0  10000000.0  9999999.0
999992     1   462303    848420   2256333.0   2937304.0  3308275.0
999993     1  2216852   2357520  10000000.0  10000000.0  3810021.0
999994     1  2215322  10000000  10000000.0  10000000.0  9999999.0
999995     1  2213123   2233871   2718786.0  10000000.0  2857405.0
999996     1  2215282  10000000  10000000.0  10000000.0  9374054.0
999997     1  2213816  10000000  10000000.0  10000000.0   653792.0
999998     1  2226914  10000000  10000000.0  10000000.0  3267441.0

[741763 rows x 6 columns]